<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>380825473045-uj7d2gp6odd5stb770j3kjrjqldcvkda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380825473045-uj7d2gp6odd5stb770j3kjrjqldcvkda</string>
	<key>API_KEY</key>
	<string>AIzaSyD4DGsFtfcsYa0ri844DXQ4ZQ7jd6KTgQY</string>
	<key>GCM_SENDER_ID</key>
	<string>380825473045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tawataka.VideoGame</string>
	<key>PROJECT_ID</key>
	<string>giraffe-d994b</string>
	<key>STORAGE_BUCKET</key>
	<string>giraffe-d994b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380825473045:ios:d3c9f6fb301a2363</string>
	<key>DATABASE_URL</key>
	<string>https://giraffe-d994b.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8645541286445791~2217527435</string>
</dict>
</plist>